absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.2.0
alembic==1.13.1
anyio==3.5.0
argon2-cffi==21.3.0
arviz==0.12.1
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
autograd==1.6.2
babel==2.9.1
beartype==0.16.4
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.4
cachetools==5.2.0
causalimpact==0.2.4
causalinference==0.1.3
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.0.4
clarabel==0.9.0
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
colorlog==4.4.0
contourpy==1.0.6
cryptography==38.0.1
cvxopt==1.2.6
cvxpy==1.5.2
cycler==0.10.0
dcor==0.5.3
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
deprecat==2.1.1
dill==0.3.1.1
dnspython==2.6.1
dowhy==0.8
easydev==0.10.1
ecos==2.0.7.post1
email-validator==2.2.0
entrypoints==0.4
exceptiongroup==1.2.1
executing==0.8.3
fastapi==0.111.0
fastapi-cli==0.0.4
fastprogress==1.0.3
fastsrm==0.0.5
fdm==0.4.1
filelock==3.8.0
fiona==1.9.6
fitter==1.3.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2024.6.0
future==0.18.2
gast==0.3.3
gputil==1.4.0
greenlet==3.0.3
grpcio==1.42.0
google-auth==2.6.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
h11==0.14.0
h5py==2.10.0
holidays==0.9.12
hrv-analysis==1.0.4
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.4
importlib-metadata==4.11.3
importlib_resources==5.2.0
iniconfig==2.0.0
ipykernel==6.15.2
ipython==8.7.0
ipywidgets==7.6.5
jedi==0.18.1
jinja2==3.1.2
joblib==1.2.0
json5==0.9.6
jsonschema==4.16.0
jupyter==1.0.0
jupyter_client==7.4.7
jupyter_console==6.4.3
jupyter_core==4.11.2
jupyter_server==1.18.1
jupyterlab==3.5.0
jupyterlab_pygments==0.1.2
jupyterlab_server==2.16.3
jupyterlab_widgets==1.0.0
keras==2.4.3
keras-preprocessing==1.1.2
kiwisolver==1.3.1
lightning==2.3.0
lightning-utilities==0.11.2
lingam==1.5.5
llvmlite==0.36.0
lxml==4.9.1
mako==1.3.5
markdown==3.3.4
markdown-it-py==3.0.0
markupsafe==2.1.1
matplotlib==3.7.5
matplotlib-inline==0.1.6
mdurl==0.1.2
mock==4.0.3
mpmath==1.2.1
multidict==6.0.2
multiviewica==0.0.1
mvlearn==0.5.0
mxnet==1.9.1
nbclassic==0.4.8
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.5
netcdf4==1.5.3
networkx==3.0
ninja==1.10.2
nolds==0.5.2
notebook==6.5.2
notebook-shim==0.2.2
numba==0.53.1
numexpr==2.8.4
numpy==1.19.0
oauthlib==3.2.1
opt_einsum==3.3.0
optuna==3.6.1
orjson==3.10.5
osqp==0.6.7.post0
packaging==21.3
pandas==1.0.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==22.3.1
pluggy==1.5.0
plum-dispatch==2.2.2
ply==3.11
prometheus_client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.6.0
pure_eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
pyedflib==0.1.32
pyerfa==2.0.0.3
pygments==2.18.0
pyjwt==2.4.0
pymc3==3.11.5
pyopenssl==22.0.0
pyparsing==2.4.7
pyproj==3.5.0
pyqt==5.15.7
pyqt5-sip==12.11.0
pyriemann==0.3
pyrsistent==0.18.0
pysocks==1.7.1
pytest==8.2.2
python-dateutil==2.8.1
python-dotenv==1.0.1
python-fastjsonschema==2.16.2
python-graphviz==0.8.4
python-multipart==0.0.9
python-picard==0.7
pytorch-forecasting==1.0.0
pytorch-lightning==2.3.0
pytorch-optimizer==2.12.0
pytz==2020.4
pywavelets==1.4.1
pyyaml==6.0
pyzmq==23.2.0
qdldl==0.1.7.post4
qtconsole==5.3.2
qtpy==2.2.0
readline==8.2
requests==2.28.1
requests-oauthlib==1.3.0
rich==13.0.1
